<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>
Made by Kevin M. Lawson

http://kevinmlawson.com/

Icon by Kevin M. Lawson

Icon palette is "cheer up emo kid" by Keith Parent.

http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
http://www.colourlovers.com/lover/electrikmonk
http://www.keithparent.com/

"cheer up emo kid" is used in compliance with the CC-BY-SA license.

http://creativecommons.org/licenses/by-sa/3.0/
			</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>:D
            </string>
		</dict>	
	</array>
</dict>
</plist>
