<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>
Made by Kevin M. Lawson
http://kevinmlawson.com/


Source contributions by Matt Cheetham
http://www.mattcheetham.co.uk/


"Colourama" name by Julian King


Testers:
Jennie Lawson
Jessica Lawson
Steve Lawson
Andy Fritz


Icon by Kevin M. Lawson
Icon palette is "cheer up emo kid" by electrikmonk.
http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
http://www.colourlovers.com/lover/electrikmonk
http://www.keithparent.com/


The following palettes and patterns may appear in App Store screenshots:

"Giant Goldfish" by manekineko
http://www.colourlovers.com/palette/92095/Giant_Goldfish

"Sweetest Taboo" by albenaj ("Apache Convoluted" pattern template by dazzlement)
http://www.colourlovers.com/pattern/2894700/Sweetest_Taboo
http://www.colourlovers.com/pattern/template/239880/Apache_Convoluted

"cheer up emo kid" by electrikmonk
http://www.colourlovers.com/palette/1930/cheer_up_emo_kid

"You're my cuppycake" by GabsGiggles ("StrawberryChocolate" palette by Any Palacios)
http://www.colourlovers.com/pattern/1376162/Youre_my_cuppycake
http://www.colourlovers.com/palette/1511587/StrawberryChocolate

"LoversInJapan" by lovelyrita
http://www.colourlovers.com/palette/867235/LoversInJapan


"cheer up emo kid" and "Sweetest Taboo" and are used in compliance with the CC-BY-SA license.
http://creativecommons.org/licenses/by-sa/3.0/

"Giant Goldfish", "You're my cuppycake", and "LoversInJapan" are used in compliance with the CC-BY-NC-SA license.
http://creativecommons.org/licenses/by-nc-sa/3.0/
			</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>:D
            </string>
		</dict>	
	</array>
</dict>
</plist>
